$icon-font-path: "/bower_components/bootstrap-sass/fonts/";

@import 'bootstrap-sass/lib/bootstrap';

@mixin transform($args...) {
  -webkit-transform: $args;
  -moz-transform: $args;
  transform: $args;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin perspective($val) {
  -webkit-perspective: $val; 
  -moz-perspective: $val; 
  -ms-perspective: $val; 
  perspective: $val;
}

@mixin rotateX( $val: -2deg ) {
  -webkit-transform: rotateX($val);
  -moz-transform: rotateX($val);
  -ms-transform: rotateX($val);
  -o-transform: rotateX($val);
  transform: rotateX($val);
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    padding:50px;
    background-color: rgb(64, 72, 78);
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {

}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {

}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

.sidebar, .main {
    background-color:rgb(252, 253, 255);
    padding:20px;
    @include border-radius(4px);
}

.col-md-3 {
    margin-right:25px;
    width:22%;
}

.table {
    height: 600px;
}

.deck {
    clear: both;
}

$transition-speed: 600ms;
$cards: (1, 2, 5, 8, 20, 40);

.card {
    display: block;
    @include rotateX(50deg);
    margin-bottom:10px;
    float:left;
    cursor: pointer;
    margin: 5px;
    width:90%;
    pading-top: 30px;
    font-size: 25px;
    background-color:rgb(48, 148, 255);
    color:white;
    text-align:center;
    padding:10px;
    @include border-radius(4px);
    @include transition($transition-speed ease-in-out);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
}

.card.ng-hide-add,
.card.ng-hide-remove {
    display:block!important;
}
 
.card.ng-hide-add.ng-hide-add-active,
.card.ng-hide-remove.ng-hide-remove-active {
    @include transition($transition-speed ease-in-out);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
}


.reveal card {
    @include rotateX(0deg);
}

.waiting {
    background-color: #D6D6D6;
    @include rotateX(50deg);
        margin-bottom:0px;
}

.deck .card {
    width:8%;
}

.user {
    font-size: 12px;
    text-align: center;
}

.table {
    position: relative;
    ul {
        @include perspective(500px);
        position: absolute;
        bottom: 0;
        padding: 0;
        li {
            display: inline-block;
            width:8%;
        }
        width:100%;
    }

    @each $card in $cards {
        .card-position-#{$card} {
          @include transform(translateY(-$card*9px));
        }
    }   

    @each $card in $cards {
        .card-position-#{$card}.ng-hide {
          @include transform(translateY(0));
        }
    }  

}







/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
