<div ng-include="'partials/navbar'"></div>
<div class="jumbotron">
  <h1>Scrum Poker</h1>
  <div>
    <button class="btn btn-success btn-lg" type="button" ng-click="enterRoom()">
    <span class="glyphicon glyphicon-plus"></span> Create a random room
    </button>
  </div>
</div>
<div class="text-center">
  <span>OR</span>
</div>
<div class="input-group">
  </span>
  <input ng-model="room_name" class="form-control" type="text" placeholder="Type the name of the room to join or create"/>
  <span class="input-group-btn">
  <button class="btn btn-default" type="button" ng-click="enterRoom(room_name)">Enter this room</button>
  </span>
</div>
<div class="footer">
  <p></p>
</div>