<div class="row">
  <div class="sidebar col-md-3">
    <h4>Room "{{room_name}}"</h4>
    <hr/>
    <form role="form">
      <div class="form-group">
        <label>My Username</label>
        <input ng-model="user_name" class="form-control" type="text" placeholder="{{guest_name}}"/>
      </div>
      <div class="form-group">
        <label>Next story to vote for</label>
        <textarea rows="4" ng-model="next_story_summary" class="form-control" placeholder="Enter the summary of the current story (optional)"></textarea>
      </div>
    </form>
    <button class="btn btn-success btn-lg pull-right" type="button" ng-hide="playing" ng-click="start()">
    <span class="glyphicon glyphicon-play"></span> Start voting!
    </button>
    <button class="btn btn-danger btn-lg pull-right" type="button" ng-show="playing" ng-click="stop()">
    <span class="glyphicon glyphicon-stop"></span> Abort voting
    </button>
    <div class="clearfix"></div>
  </div>
  <div class="main col-md-9">
    <h2 ng-show="current_story_summary">Story: {{current_story_summary}}</h2>
    <h2 ng-hide="current_story_summary">Vote not started. But plays if you want.</h2>
    <div class="table">
      <ul>
        <li ng-repeat="player in players">
          <card value="player.vote"></card>
          <h3 class="user">{{player.username}}</h3>
        </li>
      </ul>
    </div>
    <div class="deck">
      <hr/>
      <card value="value" on-click="vote(value)" ng-repeat="value in cards"></card>
    </div>
  </div>
</div>